

.ExperienceMap .timeline-dot { 
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.ExperienceMap .timeline-inner-dot {
    width: 1rem;
    height: 1rem;
    background-color: #D4A373;
    border-radius: 50%;
}

.ExperienceMap .timeline-line {
    width: 0.3rem;
    background-color: #FFFFFF;
    height: 15rem;
    margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
    .ExperienceMap .timeline-line {
        height: 12rem;
    }
    
}

h2, p{
    margin-bottom: 0; 
    line-height: 25px;
}

.ExperienceMap .companyName {
    color: #D4A373;
}

.ExperienceMap .workTime {
    color: #ACACAC;
}

.ExperienceMap .experience-wrapper .singleModuel {
    height: 200px;
    overflow-y: visible;
}

.ExperienceMap .experience-wrapper .singleModuel .timelineRod {
    position: absolute;
}